@{
    ViewData["Title"] = "Home Page";
}

<dl class="row">

    <dt class="col-sm-3">Lista L5</dt>
    <dt class="col-sm-8">Zadania</dt>

    <dt class="col-3">Szablon witryny WWW</dt>
    <dd class="col-sm-9">
        <li class="list-group"> Zaprojektować własny układ (layout) witryny WWW</li>
        <li class="list-group">Użyć w nim sekcji nazwanych</li>
        <li class="list-group">Zaprojektować kilka stron (mogą być statyczne) z użyciem stworzonego układu</li>
    </dd>
    <dt class="col-3">Kolekcja danych w kontenerze serwisów</dt>
    <dd class="col-sm-9">
    
         <li class="list-group">Stworzyć własny model danych</li>
         <li class="list-group">Stworzyć interfejst kontekstu danych</li>
         <li class="list-group">Stworzyć implementację powyższego kontekstu do pamiętania danych  w pamięci RAM</li>
         <li class="list-group">Wstrzyknąć implementację za pomocą kontenera serwisu</li>
         <li class="list-group">Stworzyć odpowiednie  widoki do manipulowania na stworzonej kolekcji danych</li>
</dl>

