
@{
    ViewData["Title"] = "Layout1";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section Left{
    <h2> Left Column </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at ipsum commodo tellus tristique laoreet. Proin erat orci, congue in sem at, rutrum interdum nunc. Ut non ornare arcu. Duis volutpat malesuada arcu, a dictum est aliquet a. Suspendisse fringilla pulvinar massa at rutrum. Nunc luctus convallis aliquam. Proin eget mauris posuere, porta turpis efficitur, consequat ex. </p>
}
@section Right{
    <h2> Right Column </h2>
    <img src="https://picsum.photos/200/300" alt="lorem picsum" />
}


